# Node.js (frontend/waterconsumption)
/frontend/waterconsumption/node_modules/
frontend/waterconsumption/npm-debug.log
frontend/waterconsumption/yarn-error.log
frontend/waterconsumption/.env

# Logs (Node.js)
frontend/waterconsumption/logs/
frontend/waterconsumption/*.log
frontend/waterconsumption/npm-debug.log*
frontend/waterconsumption/yarn-debug.log*
frontend/waterconsumption/yarn-error.log*

# Build (Node.js)
frontend/waterconsumption/dist/
frontend/waterconsumption/build/

# Optional npm cache directory
frontend/waterconsumption/.npm

# Visual Studio Code specific
/frontend/waterconsumption/.vscode/

# Spring Boot with Gradle (backend/waterconsumption)
backend/waterconsumption/build/
backend/waterconsumption/target/
backend/waterconsumption/*.war
backend/waterconsumption/*.jar

# Gradle specific
backend/waterconsumption/.gradle/
backend/waterconsumption/build/
gradle-wrapper.jar
.gradle
!gradle-wrapper.jar
.gradle/
build/

# IntelliJ IDEA specific
/backend/waterconsumption/.idea/
/backend/waterconsumption/*.iml
/backend/waterconsumption/.idea/*
/backend/waterconsumption/out/

# OS-specific files
*.swp
*.swo
.DS_Store
Thumbs.db
